.logo-container {
  z-index: -1;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 45%;
  bottom: 0;
  left: auto;
  margin: auto;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 150%;
    transform: rotateZ(10deg);
    // solid logo on top
    z-index: 1;
  }
}

.svg-container {
  stroke: #ff403f;
  stroke-width: 10px;
}
